@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './token.less';

@tootip-prefix-cls: ~'@{kd-prefix}-tooltip';

.@{tootip-prefix-cls} {
  .reset-component;
  max-width: @tooltip-max-width;
  padding: @tooltip-vertical-gap @tooltip-horizontal-gap;
  color: @tooltip-color;
  border-radius: @tooltip-border-radius;
  font-size: @tooltip-font-size;
  line-height: 1.5;
  background-color: @tooltip-background-color;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));

  .arrow::before {
    border-color: @tooltip-background-color;
  }
}
