{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "proseWrap": "never",
  "endOfLine": "auto",
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "jsxBracketSameLine": true,
        "semi": false
      }
    }
  ],
  "parser": "typescript"
}
