@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin.less';

@menu-prefix-cls: ~'@{kd-prefix}-menu';
@menuitem-prefix-cls: ~'@{menu-prefix-cls}-item';
@menu-dark-prefix-cls: ~'@{menu-prefix-cls}-dark';
@menu-light-prefix-cls: ~'@{menu-prefix-cls}-light';
@menu-popper-prefix-cls: ~'@{menu-prefix-cls}-popper';
@submenu-prefix-cls: ~'@{menu-prefix-cls}-submenu';

.@{menu-prefix-cls} {
  .menu;

  &-inline {
    .@{menuitem-prefix-cls} {
      .ellipsis();

      &-active {
        color: @menu-inline-color-active;
      }
    }

    .@{submenu-prefix-cls} {
      padding-right: 0;
    }

    .@{submenu-prefix-cls}:not(.@{submenu-prefix-cls}-disabled):hover {
      color: @menu-inline-color-active;
    }
  }

  &-collapsed {
    width: 50px;
    min-width: auto;
  }

  &-vertical {
    .@{submenu-prefix-cls}:not(.@{submenu-prefix-cls}-disabled):hover,
    .@{submenu-prefix-cls}-hover {
      .hover();
    }
  }

  &-light {
    .light()
  }

  &-light&-vertical {
    .@{submenu-prefix-cls}-sub {
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

    .@{menuitem-prefix-cls} {
      &:not(.@{menuitem-prefix-cls}-disabled):not(.@{menuitem-prefix-cls}-active):hover {
        .light-hover();
        border: none;
      }

      &-active {
        color: @menu-light-color-active;
        background-color: @menu-light-color-background-active;
        border: none !important;
      }
    }
  }
}

.@{menuitem-prefix-cls} {
  .menuItem(relative);

  transition: color, background-color;
  transition-duration: calc(@menu-motion-duration - 0.1s);
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

  &:not(&-disabled):hover {
    .hover();
  }
}

.@{submenu-prefix-cls} {
  .menuItem();

  transition: color, background-color;
  transition-duration: calc(@menu-motion-duration - 0.1s);
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

  &-hover {
    .hover();
  }

  &-sub {
    line-height: @menu-item-height;
    color: @menu-sub-color;
  }

  &-thrid {
    display: flex;
    max-width: 810px;
    max-height: 492px;
    padding-left: 24px;
    background: @menu-sub-color-background;
    flex-wrap: wrap;
    overflow-y: auto;
    cursor: default;
    z-index: @menu-z-index;

    &-item {
      margin-right: 40px;
    }

    &-title {
      line-height: 50px;
      font-size: 12px;
      color: #ffffff;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      .ellipsis();

      & > span {
        .ellipsis();
      }
    }

    &-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 20px;
      margin-top: 10px;
      height: 180px;

      & > li {
        width: 160px;
        margin: 8px 0;
        font-size: 12px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.65);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .ellipsis();

        &:hover {
          color: @menu-sub-color-active;
        }

        & > span {
          .ellipsis();
        }

        .@{menuitem-prefix-cls}-title {
          height: auto;
        }
      }

      & > .@{menuitem-prefix-cls}-active {
        color: @menu-sub-color-active;
      }
    }
  }
}

.@{menu-dark-prefix-cls} {
  .@{submenu-prefix-cls}-sub {
    background: @menu-sub-inline-color-background;
  }

  .@{submenu-prefix-cls}-sub-second, .@{submenu-prefix-cls}-sub-third {
    background: @menu-sub-color-background;
  }
}

.@{menu-light-prefix-cls} {
  .@{submenu-prefix-cls}-active,.@{menuitem-prefix-cls}-active {
    .light-active()
  }
}

.@{menu-popper-prefix-cls} {
  .@{submenu-prefix-cls}:not(.@{submenu-prefix-cls}-disabled):hover,
  .@{submenu-prefix-cls}-hover {
    .hover();
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
    animation: kdZoomTopLeftOut calc(@menu-motion-duration - 0.1s) cubic-bezier(0, .4, .4, 1) forwards;
    transition: opacity, visibility;
    transition-duration: calc(@menu-motion-duration - 0.1s);
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  }

  .@{submenu-prefix-cls} {
    padding-right: 0;

    &-sub {
      background: @menu-sub-inline-color-background;

      .@{menuitem-prefix-cls} {
        &:hover,
        &-active {
          color: @menu-sub-color-active;
        }
      }

      &-second,
      &-third {
        animation: kdZoomTopLeftIn calc(@menu-motion-duration - 0.1s) cubic-bezier(0, .4, .4, 1) forwards;
        opacity: 1;
        visibility: visible;
        transition: opacity, visibility;
        transition-duration: calc(@menu-motion-duration - 0.1s);
        transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
      }

      &-hide {
        opacity: 0;
        visibility: hidden;
        animation: kdZoomTopLeftOut calc(@menu-motion-duration - 0.1s) cubic-bezier(0, .4, .4, 1) forwards;
        transition: opacity, visibility;
        transition-duration: calc(@menu-motion-duration - 0.1s);
        transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
      }
    }
  }

  &.light {
    .light();

    .@{submenu-prefix-cls}-sub {
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

    .@{menuitem-prefix-cls}:not(.@{menuitem-prefix-cls}-disabled):not(.@{menuitem-prefix-cls}-active):hover,
    .@{submenu-prefix-cls}:not(.@{submenu-prefix-cls}-disabled):hover {
      .light-hover();
      border: none;
    }

    .@{menuitem-prefix-cls}-hover,.@{submenu-prefix-cls}-hover {
      .light-hover();
      border: none;
    }

    .@{menuitem-prefix-cls}-active,.@{submenu-prefix-cls}-active {
      .light-active();
      border: none;
    }
  }
}








