@import '../../style/themes/index';
@icon-prefix-cls: ~'@{kd-prefix}icon';

[class^='@{icon-prefix-cls}'] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.icon-spin::before,
.icon-spin {
  animation: loadingcircle 2s infinite linear;
}
.kd-icon-rtl {
  direction: rtl;
  &.icon-spin,
  &.icon-spin::before {
    animation: rtlloadingcircle 2s infinite linear;
  }
  &.@{icon-prefix-cls}-tips {
    transform: scaleX(-1);
  }
}
