@font-face {
  font-family: "kdicon";
  src: url("kdicon.woff?t=1648623696425") format("woff");
}
.kdicon {
  font-family: 'kdicon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kdicon-add-child:before { content: "\e6c0"; }
.kdicon-add-indentation:before { content: "\e6a7"; }
.kdicon-add-line:before { content: "\e6c5"; }
.kdicon-add-solid:before { content: "\e643"; }
.kdicon-add-word:before { content: "\e6ed"; }
.kdicon-add:before { content: "\e628"; }
.kdicon-address:before { content: "\e6cc"; }
.kdicon-align-center:before { content: "\e69a"; }
.kdicon-align-left:before { content: "\e6af"; }
.kdicon-align-right:before { content: "\e67a"; }
.kdicon-all-border:before { content: "\e677"; }
.kdicon-allowance-workbench:before { content: "\e714"; }
.kdicon-analysis:before { content: "\e6ce"; }
.kdicon-arrow-down-solid:before { content: "\e656"; }
.kdicon-arrow-down:before { content: "\e627"; }
.kdicon-arrow-left-solid:before { content: "\e657"; }
.kdicon-arrow-left:before { content: "\e63f"; }
.kdicon-arrow-right-solid:before { content: "\e655"; }
.kdicon-arrow-right:before { content: "\e62c"; }
.kdicon-arrow-up-solid:before { content: "\e654"; }
.kdicon-arrow-up:before { content: "\e62b"; }
.kdicon-arrow:before { content: "\e69c"; }
.kdicon-attachment:before { content: "\e694"; }
.kdicon-avatar-default:before { content: "\e717"; }
.kdicon-avatar-head-default:before { content: "\e718"; }
.kdicon-avatar-solid:before { content: "\e711"; }
.kdicon-back:before { content: "\e6cd"; }
.kdicon-bankcard:before { content: "\e705"; }
.kdicon-bold-solid:before { content: "\e668"; }
.kdicon-border:before { content: "\e6f9"; }
.kdicon-bottom-border:before { content: "\e704"; }
.kdicon-business-type:before { content: "\e716"; }
.kdicon-cancel:before { content: "\e68f"; }
.kdicon-cell:before { content: "\e692"; }
.kdicon-change:before { content: "\e6e2"; }
.kdicon-chart-display:before { content: "\e710"; }
.kdicon-chart:before { content: "\e6d0"; }
.kdicon-classify:before { content: "\e6d4"; }
.kdicon-close-bold:before { content: "\e647"; }
.kdicon-close-full-screen:before { content: "\e679"; }
.kdicon-close-solid:before { content: "\e644"; }
.kdicon-close:before { content: "\e62f"; }
.kdicon-cn:before { content: "\e6b5"; }
.kdicon-code:before { content: "\e6ca"; }
.kdicon-collect:before { content: "\e6ec"; }
.kdicon-comment:before { content: "\e6bc"; }
.kdicon-communication-solid:before { content: "\e65e"; }
.kdicon-contract:before { content: "\e69f"; }
.kdicon-cooperation:before { content: "\e6fb"; }
.kdicon-copy-code:before { content: "\e6e1"; }
.kdicon-copy:before { content: "\e678"; }
.kdicon-counterclockwise:before { content: "\e6e5"; }
.kdicon-customize:before { content: "\e707"; }
.kdicon-date-selection:before { content: "\e70f"; }
.kdicon-date:before { content: "\e6eb"; }
.kdicon-delete-indentation:before { content: "\e697"; }
.kdicon-delete-line:before { content: "\e68c"; }
.kdicon-delete-solid:before { content: "\e667"; }
.kdicon-delete:before { content: "\e6ee"; }
.kdicon-detail:before { content: "\e6c4"; }
.kdicon-detect:before { content: "\e68e"; }
.kdicon-division-solid:before { content: "\e65a"; }
.kdicon-double-arrow-left:before { content: "\e64a"; }
.kdicon-double-arrow-right:before { content: "\e649"; }
.kdicon-download:before { content: "\e70a"; }
.kdicon-edit-border:before { content: "\e6c8"; }
.kdicon-edit-view:before { content: "\e6c7"; }
.kdicon-edit:before { content: "\e6a6"; }
.kdicon-education:before { content: "\e69d"; }
.kdicon-eliminate-solid:before { content: "\e659"; }
.kdicon-en:before { content: "\e6b6"; }
.kdicon-enlarge:before { content: "\e6d5"; }
.kdicon-equal:before { content: "\e6a3"; }
.kdicon-exclamatory:before { content: "\e64e"; }
.kdicon-expand:before { content: "\e651"; }
.kdicon-experience:before { content: "\e6ff"; }
.kdicon-fail:before { content: "\e6a5"; }
.kdicon-feedback:before { content: "\e6d6"; }
.kdicon-female:before { content: "\e684"; }
.kdicon-filter-solid:before { content: "\e66a"; }
.kdicon-filter-switch:before { content: "\e6b1"; }
.kdicon-filter:before { content: "\e6a0"; }
.kdicon-finish:before { content: "\e6dc"; }
.kdicon-first:before { content: "\e630"; }
.kdicon-fixed-shrink:before { content: "\e693"; }
.kdicon-fixed-solid:before { content: "\e65f"; }
.kdicon-fixed-window:before { content: "\e6d1"; }
.kdicon-fixed:before { content: "\e6e3"; }
.kdicon-foldmenu:before { content: "\e70e"; }
.kdicon-font-background-solid:before { content: "\e673"; }
.kdicon-font-color-solid:before { content: "\e674"; }
.kdicon-forbid:before { content: "\e69b"; }
.kdicon-git:before { content: "\e6c1"; }
.kdicon-graffiti:before { content: "\e6fe"; }
.kdicon-greater-equal:before { content: "\e6d7"; }
.kdicon-have-attachment:before { content: "\e6a8"; }
.kdicon-hide:before { content: "\e6a9"; }
.kdicon-hyperlink:before { content: "\e6c9"; }
.kdicon-image:before { content: "\e687"; }
.kdicon-import:before { content: "\e6cb"; }
.kdicon-job-info:before { content: "\e68d"; }
.kdicon-last:before { content: "\e631"; }
.kdicon-left-border:before { content: "\e708"; }
.kdicon-left-extension:before { content: "\e6ae"; }
.kdicon-left-unfold-solid:before { content: "\e675"; }
.kdicon-left-unfold:before { content: "\e709"; }
.kdicon-like:before { content: "\e67f"; }
.kdicon-list:before { content: "\e6e6"; }
.kdicon-little-k:before { content: "\e700"; }
.kdicon-loadding-circle:before { content: "\e645"; }
.kdicon-loadding:before { content: "\e62d"; }
.kdicon-location-solid:before { content: "\e640"; }
.kdicon-location:before { content: "\e695"; }
.kdicon-lock-solid:before { content: "\e66b"; }
.kdicon-lock:before { content: "\e68b"; }
.kdicon-male:before { content: "\e683"; }
.kdicon-material:before { content: "\e6db"; }
.kdicon-medical-report:before { content: "\e703"; }
.kdicon-menu:before { content: "\e6d8"; }
.kdicon-merge-cell:before { content: "\e6f3"; }
.kdicon-more-info-solid:before { content: "\e660"; }
.kdicon-more-info:before { content: "\e6e4"; }
.kdicon-more-item:before { content: "\e6f4"; }
.kdicon-more:before { content: "\e6a1"; }
.kdicon-mosaic-solid:before { content: "\e663"; }
.kdicon-multiply:before { content: "\e65b"; }
.kdicon-my-receipt:before { content: "\e715"; }
.kdicon-no-border:before { content: "\e6f8"; }
.kdicon-not-equal:before { content: "\e6dd"; }
.kdicon-notice:before { content: "\e658"; }
.kdicon-oblique-solid:before { content: "\e66e"; }
.kdicon-operating-element:before { content: "\e6a4"; }
.kdicon-order-facet:before { content: "\e713"; }
.kdicon-order:before { content: "\e6d2"; }
.kdicon-ordered-list:before { content: "\e6fa"; }
.kdicon-person-solid:before { content: "\e669"; }
.kdicon-phone:before { content: "\e6d3"; }
.kdicon-platform:before { content: "\e6f1"; }
.kdicon-preview-view:before { content: "\e6ba"; }
.kdicon-preview:before { content: "\e6ac"; }
.kdicon-print:before { content: "\e690"; }
.kdicon-processing-solid:before { content: "\e665"; }
.kdicon-project:before { content: "\e681"; }
.kdicon-push-down:before { content: "\e702"; }
.kdicon-put-bottom:before { content: "\e6b4"; }
.kdicon-put-off:before { content: "\e685"; }
.kdicon-put-on:before { content: "\e6bd"; }
.kdicon-put-top:before { content: "\e6b3"; }
.kdicon-qrcode:before { content: "\e6df"; }
.kdicon-qualification-info:before { content: "\e6b2"; }
.kdicon-quit:before { content: "\e6fc"; }
.kdicon-quote-solid:before { content: "\e66d"; }
.kdicon-reduce:before { content: "\e696"; }
.kdicon-reduction:before { content: "\e6f2"; }
.kdicon-refresh-solid:before { content: "\e642"; }
.kdicon-refresh:before { content: "\e629"; }
.kdicon-report-form:before { content: "\e712"; }
.kdicon-reset:before { content: "\e6b9"; }
.kdicon-resign-report:before { content: "\e699"; }
.kdicon-return:before { content: "\e6e0"; }
.kdicon-right-bold:before { content: "\e648"; }
.kdicon-right-border:before { content: "\e67c"; }
.kdicon-right-extension:before { content: "\e6aa"; }
.kdicon-right-solid:before { content: "\e641"; }
.kdicon-right-unfold-solid:before { content: "\e672"; }
.kdicon-right-unfold:before { content: "\e6ab"; }
.kdicon-right:before { content: "\e62e"; }
.kdicon-rough-border:before { content: "\e6de"; }
.kdicon-save:before { content: "\e6c2"; }
.kdicon-scanning:before { content: "\e67d"; }
.kdicon-search-border:before { content: "\e6da"; }
.kdicon-search:before { content: "\e62a"; }
.kdicon-setting:before { content: "\e652"; }
.kdicon-share:before { content: "\e6cf"; }
.kdicon-shoppingcart:before { content: "\e6bf"; }
.kdicon-shrink:before { content: "\e6fd"; }
.kdicon-shutdown:before { content: "\e686"; }
.kdicon-spin:before { content: "\e6f7"; }
.kdicon-split:before { content: "\e6c3"; }
.kdicon-star:before { content: "\e653"; }
.kdicon-stop:before { content: "\e691"; }
.kdicon-strike-solid:before { content: "\e664"; }
.kdicon-sun-solid:before { content: "\e670"; }
.kdicon-switch-down:before { content: "\e698"; }
.kdicon-switch-up:before { content: "\e680"; }
.kdicon-switch:before { content: "\e6e7"; }
.kdicon-table-setting:before { content: "\e6c6"; }
.kdicon-task-process:before { content: "\e6ea"; }
.kdicon-timezone-solid:before { content: "\e662"; }
.kdicon-tips-solid:before { content: "\e66c"; }
.kdicon-tips:before { content: "\e650"; }
.kdicon-title-solid:before { content: "\e65c"; }
.kdicon-top-border:before { content: "\e6ef"; }
.kdicon-two-window:before { content: "\e6f6"; }
.kdicon-underline-solid:before { content: "\e671"; }
.kdicon-unfold-all:before { content: "\e6ad"; }
.kdicon-unfold:before { content: "\e6bb"; }
.kdicon-unfoldmenu:before { content: "\e70d"; }
.kdicon-unlock-solid:before { content: "\e666"; }
.kdicon-unlock:before { content: "\e69e"; }
.kdicon-upload-cloud:before { content: "\e632"; }
.kdicon-upload:before { content: "\e70b"; }
.kdicon-user-info:before { content: "\e682"; }
.kdicon-vertical-center:before { content: "\e6f5"; }
.kdicon-voice:before { content: "\e6d9"; }
.kdicon-waiting:before { content: "\e64b"; }
.kdicon-warning-solid:before { content: "\e64c"; }
.kdicon-warning:before { content: "\e64d"; }
.kdicon-workbench:before { content: "\e64f"; }
.kdicon-wrap:before { content: "\e6b0"; }
.kdicon-xingzhuangjiehe:before { content: "\e719"; }
.kdicon-yunzhijia:before { content: "\e706"; }
.kdicon-zoom:before { content: "\e70c"; }
